{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
            <h2 class="text-center mb-4">Login</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for label, messages in app.flashes %}
                <div class="mb-20">
                    {% for message in messages %}
                        <div class="pt-15 br-5 {{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <form method="post" action="{{ path('app_login') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="text" value="" name="_email" id="email" class="form-control" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
        <div class="text-center mt-3">
            Do not have an account? <a href="/register">Register</a>
        </div>
    </div>
</div>
{% endblock %}